@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.section_title {
  display: inline-block;
  font-family: "Irish Grover", cursive;
  font-size: clamp(3.2rem, 4.57vw, 6.4rem);
  border-bottom: 3px solid rgb(225, 180, 18);
  padding-bottom: 1.5rem;
  margin-bottom: 5%;
}
@media screen and (max-width:645px) {
  .section_title {
    margin-bottom: 10%;
  }
}
.section_title a {
  color: #000000;
}
.section_title_other {
  margin-bottom: 7.5%;
}
@media screen and (max-width:645px) {
  .section_title_other {
    margin-bottom: 10%;
  }
}
.section_title_other a {
  color: #fff;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Irish Grover", cursive;
  font-size: clamp(3.2rem, 4.57vw, 6.4rem);
  padding-left: 10%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: rgba(217, 217, 217, 0.69);
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav {
  display: none;
  transition: all 0.8s;
}
.header_nav.show {
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -23%);
  width: 100%;
  height: 100vh;
  display: block;
  width: fit-content;
}
.header_li {
  text-align: center;
}
.header_li a {
  padding-bottom: 5rem;
  display: block;
  color: #fff;
  font-size: clamp(2.4rem, 2.85vw, 4rem);
  font-weight: bold;
  font-family: "Irish Grover", cursive;
}

.openbtn1 {
  position: absolute;
  z-index: 20; /*ボタンを最前面に*/
  top: 3%;
  right: 2%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.openbtn1.active {
  position: fixed;
  top: 4%;
}
.openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 2px;
  background-color: rgb(31, 17, 87);
  width: 80%;
}
.openbtn1 span:nth-of-type(1) {
  top: 10px;
}
.openbtn1 span:nth-of-type(2) {
  top: 23px;
}
.openbtn1 span:nth-of-type(3) {
  top: 36px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

.circle-bg {
  position: fixed;
  z-index: 3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #D48968;
  /*丸のスタート位置と形*/
  transform: scale(0); /*scaleをはじめは0に*/
  top: -50px;
  left: calc(50% - 50px); /*50%から円の半径を引いた値*/
  transition: all 0.6s; /*0.6秒かけて*/
}
.circle-bg.circleactive {
  transform: scale(50); /*クラスが付与scaleを拡大*/
}

.main_visual {
  position: relative;
  background-image: url(../img/cups.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.main_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 4.57vw, 4rem);
  color: rgb(250, 247, 227);
  filter: drop-shadow(3px 3px 4px rgba(217, 217, 217, 0.69));
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  font-family: "Kiwi Maru", serif;
}

@keyframes fadeIn { /*その場でふわっと*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#coporate_vision {
  text-align: center;
  background-color: rgb(250, 247, 227);
  padding: 6.7% 9%;
}
@media screen and (max-width:645px) {
  #coporate_vision {
    padding: 6.7% 4%;
  }
}
#coporate_vision .vision_sub_title {
  margin-bottom: 10%;
  margin-top: 6%;
  position: relative;
}
@media screen and (max-width:645px) {
  #coporate_vision .vision_sub_title {
    margin-top: 10%;
  }
}
#coporate_vision .vision_sub_title::before, #coporate_vision .vision_sub_title::after {
  position: absolute;
  content: "";
  display: block;
  height: 7rem;
  width: 7rem;
  background-image: url(../img/odoroku.png);
  background-size: cover;
}
@media screen and (max-width:645px) {
  #coporate_vision .vision_sub_title::before, #coporate_vision .vision_sub_title::after {
    height: 4rem;
    width: 4rem;
  }
}
#coporate_vision .vision_sub_title::before {
  top: -4rem;
  left: 15%;
}
@media screen and (max-width:800px) {
  #coporate_vision .vision_sub_title::before {
    left: 10%;
  }
}
@media screen and (max-width:645px) {
  #coporate_vision .vision_sub_title::before {
    left: 0;
  }
}
@media screen and (max-width:645px) and (max-width:425px) {
  #coporate_vision .vision_sub_title::before {
    left: 6%;
  }
}
@media screen and (max-width:645px) and (max-width:375px) {
  #coporate_vision .vision_sub_title::before {
    left: -2%;
  }
}
#coporate_vision .vision_sub_title::after {
  top: -4rem;
  right: 15%;
  transform: rotate(90deg);
}
@media screen and (max-width:800px) {
  #coporate_vision .vision_sub_title::after {
    right: 10%;
  }
}
@media screen and (max-width:645px) {
  #coporate_vision .vision_sub_title::after {
    right: 0%;
  }
}
@media screen and (max-width:645px) and (max-width:425px) {
  #coporate_vision .vision_sub_title::after {
    right: 6%;
  }
}
@media screen and (max-width:645px) and (max-width:375px) {
  #coporate_vision .vision_sub_title::after {
    right: -2%;
  }
}
#coporate_vision .vision_sub_title h2 {
  font-size: clamp(1.6rem, 2.57vw, 3.6rem);
}

.coporate_vision_inner {
  display: flex;
  gap: 6%;
  margin: auto;
}
@media screen and (max-width:800px) {
  .coporate_vision_inner {
    flex-direction: column;
    align-items: center;
  }
}
.coporate_vision_inner_img {
  width: 47%;
  height: auto;
}
@media screen and (max-width:800px) {
  .coporate_vision_inner_img {
    width: 100%;
    margin-bottom: 9%;
  }
}
.coporate_vision_inner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.coporate_vision_inner_txt {
  width: 47%;
  padding: 7.3% 4%;
  border: 3px solid rgb(225, 180, 18);
  border-radius: 50px;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  text-align: left;
  background-color: #fff;
  line-height: 1.5;
}
@media screen and (max-width:800px) {
  .coporate_vision_inner_txt {
    width: 100%;
    padding: 10% 8%;
  }
}

#works {
  text-align: center;
  padding-top: 5.5%;
}
@media screen and (max-width:645px) {
  #works {
    padding-top: 12%;
  }
}

.bg_color {
  background-color: #A1B525;
}

.other_setting {
  position: relative;
  margin-bottom: 8%;
}
.other_setting::before, .other_setting::after {
  position: absolute;
  content: "";
  display: block;
  height: 8vh;
  width: 150%;
  background-size: cover;
}
@media screen and (max-width:1024px) {
  .other_setting::before, .other_setting::after {
    transform: rotate(-10deg);
  }
}
@media screen and (max-width:1024px) and (max-width:480px) {
  .other_setting::before, .other_setting::after {
    height: 4vh;
    width: 100%;
    transform: rotate(-5deg);
  }
}
.other_setting::before {
  top: -10px;
  left: -200%;
  background-image: url(../img/sankaku.png);
}
@media screen and (max-width:480px) {
  .other_setting::before {
    left: -125%;
  }
}
.other_setting::after {
  top: -10px;
  right: -200%;
  background-image: url(../img/sankaku.png);
}
@media screen and (max-width:480px) {
  .other_setting::after {
    right: -125%;
  }
}

.fadeup {
  animation-name: fadeupAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeupAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeupTrigger {
  opacity: 0;
}

.works_wrapper {
  padding: 0 6%;
}
.works_wrapper_inner {
  display: flex;
  justify-content: center;
  padding-bottom: 6%;
}
@media screen and (max-width:645px) {
  .works_wrapper_inner {
    flex-direction: column;
    align-items: center;
    padding-bottom: 9%;
  }
}
.works_wrapper_inner:nth-of-type(3) img {
  object-position: right;
}
.works_wrapper_inner:nth-of-type(2) {
  flex-direction: row-reverse;
}
@media screen and (max-width:645px) {
  .works_wrapper_inner:nth-of-type(2) {
    flex-direction: row-reverse;
    flex-direction: column;
  }
}
.works_wrapper_inner_img {
  width: 45%;
}
@media screen and (max-width:645px) {
  .works_wrapper_inner_img {
    width: 100%;
  }
}
.works_wrapper_inner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works_wrapper_inner_txt {
  width: 45%;
  padding: 8% 5%;
  text-align: left;
  line-height: 1.5;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  background-color: rgb(250, 247, 227);
}
@media screen and (max-width:645px) {
  .works_wrapper_inner_txt {
    width: 100%;
  }
}
@media screen and (max-width:480px) {
  .works_wrapper_inner_txt {
    padding: 9% 12%;
  }
}

.order_made {
  width: 100%;
  background-color: rgb(250, 247, 227);
}
.order_made_txt {
  padding: 5%;
}
.order_made_txt p {
  border: 3px solid rgb(225, 180, 18);
  border-radius: 50px;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  text-align: left;
  padding: 5% 8%;
  background-color: #fff;
  line-height: 1.5;
}
@media screen and (max-width:480px) {
  .order_made_txt p {
    padding: 8% 11%;
  }
}
.order_made .order_made_img {
  width: 100%;
}
@media screen and (max-width:480px) {
  .order_made .order_made_img {
    height: 45vh;
  }
}
.order_made .order_made_img img {
  width: 100%;
}
@media screen and (max-width:480px) {
  .order_made .order_made_img img {
    height: 100%;
    object-fit: cover;
  }
}

#recruit {
  background-color: #D48968;
  text-align: center;
  padding: 6.3% 4%;
}
@media screen and (max-width:800px) {
  #recruit {
    padding: 6.3% 1%;
  }
}
#recruit .recruit_wrapper {
  display: flex;
  gap: 2%;
}
@media screen and (max-width:645px) {
  #recruit .recruit_wrapper {
    flex-direction: column;
  }
}
#recruit .recruit_wrapper_inner {
  margin-bottom: 2rem;
}
@media screen and (max-width:645px) {
  #recruit .recruit_wrapper_inner_img {
    width: 90%;
    margin: 0 auto;
  }
}
#recruit .recruit_wrapper_inner_img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width:645px) {
  #recruit .recruit_wrapper_inner_txt {
    width: 90%;
    margin: 0 auto;
  }
}
#recruit .recruit_wrapper_inner_txt p {
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  text-align: left;
  padding: 15% 13%;
  background-color: rgb(250, 247, 227);
  line-height: 1.5;
}
@media screen and (max-width:800px) {
  #recruit .recruit_wrapper_inner_txt p {
    padding: 12% 10%;
  }
}
@media screen and (max-width:645px) {
  #recruit .recruit_wrapper_inner_txt p {
    padding: 16% 10%;
  }
}

#recruit_info {
  background-color: rgb(31, 17, 87);
  text-align: center;
  padding: 6.3% 8.3%;
}
@media screen and (max-width:645px) {
  #recruit_info {
    padding: 15% 4%;
  }
}

.table {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
}
@media screen and (max-width:645px) {
  .table {
    width: 98%;
    text-align: left;
  }
}
.table_title {
  padding: 3.5%;
  border: 3px solid rgb(31, 17, 87);
}
@media screen and (max-width:645px) {
  .table_title {
    width: 100%;
    display: block;
    padding: 7%;
    border: 1px solid rgb(31, 17, 87);
  }
}
.table_inner {
  text-align: left;
  border: 3px solid rgb(31, 17, 87);
  padding: 7%;
  padding-left: 7%;
}
@media screen and (max-width:645px) {
  .table_inner {
    width: 100%;
    display: block;
    border: 1px solid rgb(31, 17, 87);
  }
}

#company {
  text-align: center;
  padding: 6.3% 8.3%;
  background-color: rgb(250, 247, 227);
}
@media screen and (max-width:645px) {
  #company {
    padding: 15% 5%;
  }
}

.company_title {
  padding: 3.5%;
  border: 3px solid rgb(225, 180, 18);
}
@media screen and (max-width:645px) {
  .company_title {
    display: block;
    width: 100%;
    border: 1px solid rgb(225, 180, 18);
    padding: 6%;
  }
}

.company_inner {
  text-align: left;
  border: 3px solid rgb(225, 180, 18);
  padding-left: 7%;
}
@media screen and (max-width:645px) {
  .company_inner {
    display: block;
    width: 100%;
    border: 1px solid rgb(225, 180, 18);
    padding: 6%;
  }
}

#access {
  text-align: center;
  padding: 6.3% 8.3%;
}
@media screen and (max-width:645px) {
  #access {
    padding: unset;
    padding: 14% 0;
  }
}
#access .access_inner {
  display: flex;
}
@media screen and (max-width:645px) {
  #access .access_inner {
    flex-direction: column;
  }
}
#access .access_inner_map {
  display: block;
  width: 60%;
  height: 50vh;
}
@media screen and (max-width:645px) {
  #access .access_inner_map {
    width: 100%;
    height: 30vh;
  }
}
#access .access_inner_map iframe {
  width: 100%;
  height: 100%;
}
#access .access_txt {
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
}
#access .access_txt_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}
@media screen and (max-width:645px) {
  #access .access_txt_box {
    margin: 0 6%;
  }
}
@media screen and (max-width:645px) {
  #access .access_txt {
    margin: 0 auto;
    padding: unset;
    padding-top: 10%;
  }
}
#access .access_txt_inner li {
  padding-bottom: 7%;
  width: fit-content;
  margin-left: 18%;
}
#access .access_txt p {
  padding: 10% 4%;
  border: 1px solid #D48968;
  border-radius: 50px;
}
@media screen and (max-width:645px) {
  #access .access_txt p {
    padding: 12% 8%;
    text-align: left;
  }
}

#contact {
  text-align: center;
  background-color: rgb(250, 247, 227);
  padding: 6.3% 8.3%;
}
@media screen and (max-width:645px) {
  #contact {
    padding: 16% 4%;
  }
}

.contact_table {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 7%;
}
@media screen and (max-width:645px) {
  .contact_table {
    width: 98%;
    margin-bottom: 15%;
  }
}

.contact_title {
  width: 35%;
  padding: 3.5%;
  border: 3px solid rgb(225, 180, 18);
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
}

.contact_inner {
  width: 65%;
  text-align: left;
  border: 3px solid rgb(225, 180, 18);
}
.contact_inner input {
  width: 100%;
  border: none;
  height: 12rem;
}

textarea {
  width: 100%;
  height: 30vh;
  border: none;
}

.top {
  vertical-align: top;
}

.send_btn {
  background-color: rgb(9, 59, 155);
  width: 25rem;
  height: 7rem;
  color: #fff;
  font-size: clamp(2rem, 2.28vw, 3.2rem);
  font-weight: bold;
  border-radius: 50px;
  border: none;
  transition: background-color 1s;
}
@media screen and (max-width:645px) {
  .send_btn {
    width: 15rem;
    height: 5rem;
  }
}
.send_btn:hover {
  background-color: rgb(184, 146, 205);
}

.footer {
  background-color: rgb(225, 180, 18);
  padding: 6.3% 8.3%;
}
.footer_logo {
  font-family: "Irish Grover", cursive;
  font-size: clamp(3.2rem, 4.57vw, 6.4rem);
  text-align: center;
  margin-bottom: 6.5%;
}
.footer_logo a {
  color: #000000;
}
.footer .sns_logo {
  display: flex;
  justify-content: center;
  gap: 6%;
}
.footer .twitter_logo {
  width: 12%;
}
.footer .twitter_logo img {
  width: 100%;
}
.footer .insta_logo {
  width: 12%;
}
.footer .insta_logo img {
  width: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
