@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.section_title {
  display: inline-block;
  font-family: "Irish Grover", cursive;
  font-size: clamp(3.2rem, 4.57vw, 6.4rem);
  border-bottom: 3px solid rgb(225, 180, 18);
  padding-bottom: 1.5rem;
  margin-bottom: 5%;
}
.section_title_other {
  color: #fff;
  margin-bottom: 7.5%;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Irish Grover", cursive;
  font-size: clamp(3.2rem, 4.57vw, 6.4rem);
  padding-left: 10%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(217, 217, 217, 0.69);
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav {
  display: none;
  transition: all 0.8s;
}
.header_nav.show {
  position: fixed;
  z-index: 999;
  top: 50%;
  transform: translateY(-25%);
  width: 100%;
  height: 100vh;
  display: block;
}
.header_li {
  text-align: center;
}
.header_li a {
  padding: 2.5rem;
  display: block;
  color: #fff;
  font-size: clamp(3.2rem, 2.85vw, 4rem);
  font-weight: bold;
  font-family: "Irish Grover", cursive;
}

.openbtn1 {
  position: absolute;
  z-index: 9999; /*ボタンを最前面に*/
  top: 3.5%;
  right: 2%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 2px;
  background-color: rgb(31, 17, 87);
  width: 80%;
}

.openbtn1 span:nth-of-type(1) {
  top: 10px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 36px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.circle-bg {
  position: fixed;
  z-index: 3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(225, 180, 18);
  /*丸のスタート位置と形状*/
  transform: scale(0); /*scaleをはじめは0に*/
  top: -50px;
  left: calc(50% - 50px); /*50%から円の半径を引いた値*/
  transition: all 0.6s; /*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive {
  transform: scale(50); /*クラスが付与されたらscaleを拡大*/
}

.main_visual {
  position: relative;
  background-image: url(../../img/cups.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.main_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 4.57vw, 4rem);
  color: rgb(250, 247, 227);
  filter: drop-shadow(3px 3px 4px rgba(217, 217, 217, 0.69));
}

#coporate_vision {
  text-align: center;
  background-color: rgb(250, 247, 227);
  padding: 6.7% 9%;
}
#coporate_vision .vision_sub_title {
  margin: 11% 0;
  position: relative;
}
#coporate_vision .vision_sub_title::before, #coporate_vision .vision_sub_title::after {
  position: absolute;
  content: "";
  display: block;
  height: 7rem;
  width: 7rem;
  background-image: url(../../img/odoroku.png);
  background-size: cover;
}
#coporate_vision .vision_sub_title::before {
  top: -5rem;
  left: 15%;
}
#coporate_vision .vision_sub_title::after {
  top: -5rem;
  right: 15%;
  transform: rotate(90deg);
}
#coporate_vision .vision_sub_title h2 {
  font-size: clamp(1.6rem, 2.57vw, 3.6rem);
}

.coporate_vision_inner {
  display: flex;
  gap: 6%;
  margin: auto;
}
.coporate_vision_inner_img {
  width: 47%;
  height: 50vh;
}
.coporate_vision_inner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.coporate_vision_inner_txt {
  width: 47%;
  padding: 5% 4%;
  border: 3px solid rgb(225, 180, 18);
  border-radius: 50px;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  text-align: left;
}

#works {
  text-align: center;
  padding-top: 5.5%;
}

.bg_color {
  background-color: #A1B525;
}

.other_setting {
  position: relative;
  margin-bottom: 8%;
}
.other_setting::before, .other_setting::after {
  position: absolute;
  content: "";
  display: block;
  height: 8vh;
  width: 150%;
  background-size: cover;
}
@media screen and (max-width:1025px) {
  .other_setting::before, .other_setting::after {
    transform: rotate(-10deg);
  }
}
.other_setting::before {
  top: -10px;
  left: -200%;
  background-image: url(../../img/sankaku.png);
}
.other_setting::after {
  top: -10px;
  right: -200%;
  background-image: url(../../img/sankaku.png);
}

.works_wrapper {
  padding: 0 8%;
}
.works_wrapper_inner {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.works_wrapper_inner_img {
  width: 45%;
  height: 45vh;
}
.works_wrapper_inner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works_wrapper_inner_txt {
  width: 45%;
  padding: 8% 5%;
  text-align: left;
  line-height: 1.5;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  background-color: rgb(250, 247, 227);
}

.order_made {
  width: 100%;
  background-color: rgb(250, 247, 227);
}
.order_made_txt {
  padding: 5%;
}
.order_made_txt p {
  border: 3px solid rgb(225, 180, 18);
  border-radius: 50px;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  text-align: left;
  padding: 5% 8%;
  background-color: #fff;
  line-height: 1.5;
}
.order_made .order_made_img {
  width: 100%;
  padding-bottom: 3%;
}
.order_made .order_made_img img {
  width: 100%;
}

#recruit {
  background-color: #D48968;
  text-align: center;
  padding: 6.3% 8.3%;
}
#recruit .recruit_wrapper {
  display: flex;
  gap: 2%;
}
#recruit .recruit_wrapper_inner_img img {
  width: 100%;
  height: 100%;
}
#recruit .recruit_wrapper_inner_txt p {
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  text-align: left;
  padding: 26.5% 17%;
  background-color: rgb(250, 247, 227);
}

#recruit_info {
  background-color: rgb(31, 17, 87);
  text-align: center;
  padding: 6.3% 8.3%;
}

.table {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
}
.table_title {
  padding: 3.5%;
  border: 3px solid rgb(31, 17, 87);
}
.table_inner {
  text-align: left;
  border: 3px solid rgb(31, 17, 87);
  padding-left: 7%;
}

#company {
  text-align: center;
  padding: 6.3% 8.3%;
  background-color: rgb(250, 247, 227);
}

.company_title {
  padding: 3.5%;
  border: 3px solid rgb(225, 180, 18);
}

.company_inner {
  text-align: left;
  border: 3px solid rgb(225, 180, 18);
  padding-left: 7%;
}

#access {
  text-align: center;
  padding: 6.3% 8.3%;
}
#access .access_inner {
  display: flex;
}
#access .access_inner_map {
  display: block;
  width: 60%;
  height: 40vh;
}
#access .access_inner_map iframe {
  width: 100%;
  height: 100%;
}
#access .access_txt {
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
  text-align: left;
  padding-left: 13%;
  padding-bottom: 6%;
}
#access .access_txt_inner li {
  padding-bottom: 7%;
}
#access .access_txt p {
  padding: 10% 4%;
  border: 3px solid #D48968;
  border-radius: 50px;
}

#contact {
  text-align: center;
  background-color: rgb(250, 247, 227);
  padding: 6.3% 8.3%;
}

.contact_table {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
}

.contact_title {
  width: 30%;
  padding: 3.5%;
  border: 3px solid rgb(225, 180, 18);
  font-size: clamp(1.6rem, 1.71vw, 2.4rem);
}

.contact_inner {
  width: 70%;
  text-align: left;
}
.contact_inner input {
  width: 100%;
  border: 3px solid rgb(225, 180, 18);
  height: 12rem;
}

textarea {
  width: 100%;
  height: 30vh;
  border: 3px solid rgb(225, 180, 18);
}

.top {
  vertical-align: top;
}

.send_btn {
  background-color: rgb(31, 17, 87);
  width: 25rem;
  height: 6rem;
  color: #fff;
  font-size: clamp(2rem, 2.28vw, 3.2rem);
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
