$bage: rgba(250, 247, 227, 1);
$orange:  rgba(212, 137, 104, 1);
$white: #fff;
$grey: rgba(217, 217, 217, 0.69);
$blue: rgba(31, 17, 87, 1);
$lightblue: rgba(9, 59, 155, 1);
$orange: rgba(225, 180, 18, 1);
$green: #A1B525;
$red: #D48968;
$black: #000000;
$perpul: rgb(184, 146, 205);
